$board-size: min(80vw, 80vh);
$cell-size: min(10vw, 10vh);
$name-size: min(2.5vw, 2.5vh);

.chess-board {
    display: grid;
    grid-template: 
        repeat(10, $cell-size) / repeat(10, $cell-size)
    ;

    .col-names {
        display: flex;
        justify-content: space-between;

        div.col-name {
            display: flex;
            justify-content: center;
            width: 100%;
            text-transform: uppercase;
            font-size: $name-size;

            &.top {
                align-items: flex-end;
                padding-bottom: 1em;
            }

            &.bottom {
                align-items: flex-start;
                padding-top: 1em;
            }
        }
    }

    .row-names {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;

        div.row-name {
            height: 100%;
            display: flex;
            align-items: center;
            font-size: $name-size;

            &.left {
                justify-content: flex-end;
                margin-right: 1em;
            }

            &.right {
                justify-content: flex-start;
                margin-left: 1em;
            }
        }
    }
}

.board {
    box-sizing: border-box;
    border: 5px solid rgb(117, 56, 14);
    box-shadow: 15px 15px 2px rgba(117, 55, 14, 0.5);
    display: flex;
    flex-direction: column-reverse;
    align-items: stretch;
    justify-content: space-between;
    flex-basis: $board-size;

    grid-area: 2 / 2 / span 8 / span 8;
}

.row {
    display: flex;
    flex: 1 1 $cell-size;
}

.cell {
    flex: 1 1 $cell-size;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: min(7vw, 7vh);

    &.dark {
        background-color: rgba(82, 103, 8, 0.9);
    }

    &.light {
        background-color: rgba(230, 233, 220, 0.9);
    }
}
