@import 'variables';

$text-color: rgb(255, 255, 255);
$background-color: rgb(5, 5, 29);

header {
    flex: 1 1 10vh;
    background-color: $background-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $text-color;
    text-transform: uppercase;

    display: flex;

    a {
        margin: auto 1rem;
        display: flex;
        align-items: center;
        border-radius: 4px;
        color: $text-color;
        padding: 0.5rem;
        text-decoration: none;

        svg:first-child {
            margin-right: 0.5rem;
        }

        &:hover {
            color: $background-color;
            background-color: $text-color;
        }
    }

    .piece-color-switch {
        margin: auto 1rem;
        
        display: flex;
        justify-content: center;
        align-items: center;
    }
}