@import 'variables';


.row-names,
.col-names {
    display: flex;
    justify-content: space-between;
}

.col-names {
    div.col-name {
        justify-content: center;
        text-transform: uppercase;

        &.top {
            align-items: flex-end;
            padding-bottom: 1em;
        }

        &.bottom {
            align-items: flex-start;
            padding-top: 1em;
        }
    }

    &.top {
        grid-area: 1 / 2 / span 1 / span 8;
    }

    &.bottom {
        grid-area: 10 / 2 / span 1 / span 8;
    }
}

.row-names {
    flex-direction: column-reverse;

    div.row-name {
        align-items: center;

        &.left {
            justify-content: flex-end;
            margin-right: 1em;
        }

        &.right {
            justify-content: flex-start;
            margin-left: 1em;
        }
    }

    &.left {
        grid-area: 2 / 1 / span 8 / span 1;
    }

    &.right {
        grid-area: 2 / 10 / span 8 / span 1;
    }
}

div.row-name,
div.col-name {
    display: flex;
    flex: 1 1 100%;
    font-size: 1em;

    @media screen and (min-width: 500px) {
        font-size: 1.5em;
    }
}